<header class="h-16">
  <.live_component
    module={SoundboardWeb.Components.Layouts.Navbar}
    id="navbar"
    current_user={@current_user}
    current_path={@current_path}
    presences={@presences}
  />
</header>

<main class="">
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>

<footer class="fixed bottom-0 right-0 p-2 text-xs text-gray-500 dark:text-gray-600">
  Improved by Dennis Borrmann
</footer>
